
@{
    ViewBag.Title = "Fundacion";
    //Layout = "~/Views/Shared/_Layout.cshtml";

    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}



<ol class="breadcrumb mb-4 mt-4">
    <li class="breadcrumb-item"><a href="index.html">Mantenimiento</a></li>
    <li class="breadcrumb-item active">Fundacion</li>
</ol>

<div class="card">
    <div class="card-header">
        <i class="fas fa-users me-1"></i> Lista de los datos de la fundacion
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <button type="button" class="btn btn-dark" onclick="abrilModal(null)">
                    <span class="fas fa-user"> </span>
                    Ingresar fundacion

                </button>
            </div>
        </div>
        <hr />

        <table id="usuario" class="display cell-borde" style="width:100%">
            <thead style="background-color:darkgray; color:black">
                <tr>
                    <th>Id</th>
                    <th>Nombre</th>
                    <th>Direcion</th>
                    <th>Descripcion </th>

                    <th></th>

                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="FormUsuario" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background:#00ffff; color:black">
                <h5 class="modal-title" id="exampleModalLabel">Datos de la fundacion</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" style="background-color: lemonchiffon">
                @*<div class="row g-1" style="background-color:gainsboro">*@

                <input id="txtid" type="hidden" value="0">
                @*; position: relative; left: 100px*@

            <div class="col-sm-6" style="background-color: lemonchiffon; left: 100px">

                <label for="txtnombres" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="txtnombres" autocomplete="off" style="border-color:black">
                <br />
                <label for="txtDireccion" class="form-label">Direccion</label>
                <textarea type="text" class="form-control" id="txtDireccion" name="direcion" style="height:125px;resize:none"></textarea>

                <br />
                <label for="txtdescripcion" class="form-label">Descripcion</label>
                <textarea type="text" class="form-control" id="txtdescripcion" name="descripcion" style="height:125px;resize:none"></textarea>
                <br />


            </div>



                @*</div>*@
                <div class="row mt-2">
                    <div class="col-12" style="background-color:chartreuse">

                        <div id="mensajeError" class="alert alert-danger" role="alert">
                            A simple danger alert—check it out!
                        </div>

                    </div>

                </div>
            </div>
            <div class="modal-footer" style="background-color:lavender">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" style="position: relative; right: 175px">
                    <span>X </span>
                    Cerrar
                </button>
                <button type="button" class="btn btn-primary" onclick="Guardar() " style="position: relative; right: 165px">
                    <span class="fas fa-download"></span>
                    Guardar
                </button>
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>

        var tabladata;
        var filaSeleccionada;



             tabladata = $("#usuario").DataTable({

            responsive: true,
            ordering: false,
            "ajax": {
                 url: '@Url.Action("ListarFundacion", "Mantenimiento")',
                type: "GET",
                dataType: "json"
            },
                 "columns": [
                     { "data": "IdFundacion" },
                     { "data":"Nombre"},
                     { "data": "Direccion" },
                     { "data": "Descripcion" },

                {
                    "defaultContent": ' <button type="button" class="btn btn-outline-secondary btn-sm btn-editar"><i class="fas fa-pen"></i></button>' +
                        ' <button type="button" class="btn btn-outline-dark btn-sm ms-2 btn-eliminar"><i class="fas fa-trash"></i></button>',
                    "orderable": false,
                    "searchable": false,
                    "width": "90px"
                }

                 ],
                 "language": {
                     "url": "https://cdn.datatables.net/plug-ins/1.12.1/i18n/es-ES.json"
                 }



             });

        function abrilModal(json) {
            //$("#txtid").val(0);

            $("#txtid").val(0);
            $("#txtnombres").val("");
            $("#txtDireccion").val("");
            $("#txtdescripcion").val("");

            $("#mensajeError").hide();


            if (json != null) {
                $("#txtid").val(json.IdFundacion);
                $("#txtnombres").val(json.Nombre);
                $("#txtDireccion").val(json.Direccion);
                $("#txtdescripcion").val(json.Descripcion);
            }

            $("#FormUsuario").modal("show");
        }

        $("#usuario tbody").on("click", '.btn-editar', function () {


            filaSeleccionada = $(this).closest("tr");

            var data = tabladata.row(filaSeleccionada).data();
            console.log(data);
            abrilModal(data)

           
        })

        $("#usuario tbody").on("click", '.btn-eliminar', function () {

            var usuarioSeleccionado = $(this).closest("tr");

            var data = tabladata.row(usuarioSeleccionado).data();

            swal({
                title: "Esta Seguro?",
                text: "¿Desea eliminar la fundacion?",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-primary",
                confirmButtonText: "Si",
                cancelButtonText: "No",
                closeOnConfirm: true
            },
                function () {

                      jQuery.ajax({
                   url: '@Url.Action("EliminarFundacion", "Mantenimiento")',
                          type: "POST",
                          data: JSON.stringify({ id: data.IdFundacion }),
                   dataType: "json",
                   contentType: "application/json; charset=utf-8",
                   success: function (data) {



                      if (data.resultado) {

                          tabladata.row(usuarioSeleccionado).remove().draw();
                     } else {

                           swal("No se pudo eliminar", data.mensaje, "error")
                       }
                  },
                   error: function (error) {
                   console.log(error)
                    }
               });




                });

            console.log(data)


        })


        function Guardar() {
            var Fundacion = {
     

                IdFundacion: $("#txtid").val(),
                Nombre: $("#txtnombres").val(),
                Direccion: $("#txtDireccion").val(),
                Descripcion: $("#txtdescripcion").val()

                       
            
                       }
              jQuery.ajax({
                url: '@Url.Action("GuardarFundacion", "Mantenimiento")',
                  type: "POST",
                  data: JSON.stringify({ objeto: Fundacion }),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                    $(".modal-body").LoadingOverlay("hide");


                    //Usuario Nuevo
                    if (Fundacion.IdFundacion == 0) {

                        if (data.resultado != 0) {

                            Fundacion.IdFundacion = data.resultado;
                            tabladata.row.add(Fundacion).draw(false);
                            $("#FormUsuario").modal("hide");

                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }

                        //Editar Usuario
                    } else {

                        if (data.resultado) {
                            tabladata.row(filaSeleccionada).data(Fundacion).draw(false);
                            filaSeleccionada = null;
                            $("#FormUsuario").modal("hide");
                        } else {
                            $("#mensajeError").text(data.mensaje);
                            $("#mensajeError").show();
                        }
                    }

                  },
                  error: function (error) {
                      $(".modal-body").LoadingOverlay("hide");
                      $("#mensajeError").text("Error Ajax");
                      $("#mensajeError").show();
                  },
                  beforeSend: function () {
                      $(".modal-body").LoadingOverlay("show", {
                          imageResizeFactor: 2,
                          text: "Cargando...",
                          size: 14
                      })
                  }

            });












        }
    </script>


}








